apiVersion: v1
kind: ConfigMap
metadata:
  name: ${CIRCLE_PROJECT_REPONAME}-config
  namespace: ${NS}
data:
  CARRIER_API_URL: "${CARRIER_API_URL}"
  APP_NAME: "${APP_NAME}"
  APP_ENV: "${APP_ENV}"
  APP_DEBUG: "${APP_DEBUG}"
  APP_LOG_LEVEL: "${APP_LOG_LEVEL}"
  APP_PORT: "${APP_PORT}"
  APP_DOMAIN: "${APP_DOMAIN}"
  APP_URL: "${APP_URL}"
  APP_TIMEZONE: "${APP_TIMEZONE}"
  CACHE_DRIVER: "${CACHE_DRIVER}"
  QUEUE_DRIVER: "${QUEUE_DRIVER}"
  REDIS_HOST: "${REDIS_HOST}"
  REDIS_PORT: "${REDIS_PORT}"
