apiVersion: v1
kind: Secret
metadata:
  name: ${CIRCLE_PROJECT_REPONAME}-secrets
  namespace: ${NS}
data:
  MYPARCELCOM_API_SECRET: ${MYPARCELCOM_API_SECRET}
  ROLLBAR_TOKEN: ${ROLLBAR_TOKEN}
  REDIS_PASSWORD: ${REDIS_PASSWORD}
